header {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 64px;
}
header nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#top {
    background-image: url(img1/topbg.jpg);
    background-size: cover;
    min-height: 1000px;
}
header a.white-text {
    text-shadow: 0 15px 20px rgba(72, 72, 72, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
}
header nav {
    border-bottom: solid #424242 2px;
}
header nav a {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.8s;
    transition-delay: 0;
    color: white;
}
#logo  {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0;
    color: white;
}
header nav.nav-wrapper:hover #logo{
    color: rgb(56, 235, 24);
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white;
}
header nav.nav-wrapper {
    background-color: transparent;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0;
}
header nav.nav-wrapper:hover {
    background: rgba(224, 224, 224, 0.674);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(72, 72, 72, 0.6),0 0 20px rgba(98, 98, 98, 0.727), 0 0 30px rgba(225, 225, 225, 0.4);
}
header nav.nav-wrapper:hover a{
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white;
}
section h1 {
    padding-top: 200px;
    padding-bottom: 150px;
    text-shadow: 0 0 10px rgba(225, 225, 225, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
}
#feature a {
    padding: 15px 70px 15px 70px;
    font-size: 26px;
    margin: 0px 100px 15px 0px;
    border-radius: 60px;
    background: rgba(0, 0 ,0, 0.25);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(3px);
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 2s;
    transition-delay: 0;
}

#feature a:hover {
    background: rgba(220, 220, 220, 0.4);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.839),0 0 20px rgba(225, 225, 225, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
}
#gallery h3 {
    margin-bottom: 100px;
}
#cards {
    margin-left: 50px;
    margin-right: 50px;
}
#gallery {
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(#1f286e,#010101);
    background-size: cover;
}
#gallery img {
    padding: 20px
}
#gallery span {
    margin-top: -15px;
    padding-top: 10px;
    border-top: solid grey 1px;
}
#gallery .card {
    background: #313131 ;
}
#shorts {
    background: linear-gradient(#3a2f28, #1e1e1e);
    padding-bottom: 50px;
    margin-bottom: 0;
}
#shorts h3 {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}
#shorts video {
  object-fit: cover;
  height: 650px; 
  width: 100%;
  border-radius: 10px;
}
#facts {
    margin-top: 0;
    background: linear-gradient(#1e1e1e, #aeacac);
    padding-bottom: 50px;
    padding-top: 100px;
}
#facts h3 {
    margin-top: 0;
}

.page-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 85px;
}
#footer {
    border-top: solid grey 2px ;
    
    padding-bottom: 40px;
    padding-top: 40px;
}
footer ul  {
    list-style : none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-left: 0;
    padding-left: 0;
}



@media screen and (max-width: 1440px) {
    #logo {
        font-size: 16px;
        
    }
    #pages div li a {
        font-size: 13px;
    }
    
}
@media screen and (max-width: 1240px) {
    #logo {
        font-size: 11px;
        
    }
    #pages div li a {
        font-size: 11px;
    }
    
}