header {
    background: url(img1/naturehead.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    margin-bottom: 30px;
    padding-top: 64px;
}
header h1 {
    font-size: 220px;
    padding-top: 170px;
    margin-left: -100px;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-timing-function: ease-out;
}   
header p {
    font-size: 30px;
}    
header .container.center a {
    padding: 15px 70px 15px 70px;
    font-size: 30px;
    margin: 0px 100px 15px 0px;
    border-radius: 60px;
    background: rgba(0, 0 ,0, 0.25);
    backdrop-filter: blur(3px);
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 2s;
    transition-delay: 0;
}
header div.container.center a:hover {
    background: rgba(220, 220, 220, 0.4);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.839),0 0 20px rgba(225, 225, 225, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
}
header nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header nav a {
    text-shadow: 2px 3px 8px rgb(253, 253, 253);
}
header nav.nav-wrapper {
    background-color: transparent;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0;
}
#logo {
    transition-duration: 0.3s;
}
header nav.nav-wrapper:hover #logo{
    color: rgb(56, 235, 24);
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white;
}
header nav.nav-wrapper:hover {
    background: rgba(220, 220, 220, 0.4);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.881),0 0 20px rgba(225, 225, 225, 0.727), 0 0 30px rgba(225, 225, 225, 0.533);
}
section h4.center {
    font-size: 50px;
    border-bottom: black solid 2px;
    padding-bottom: 45px;
    padding-top: 25px;
}
#discover .row  {
    margin: 0 35px -35px 35px;
    border-bottom: black solid 2px;
}

.row img {
    padding-bottom: 20px;
}
section.container.hero-text h1, section.container.hero-text p {
    text-shadow: 2px 5px 8px black;
}
#facts {
    padding-top: 60px;
    padding-bottom: 60px;
}
#facts h4 {
    padding-bottom: 25px;
}
#facts p, strong {
    font-size: 19px;
}
#facts p {
    border-left: solid grey 2px;
    padding-left: 5px;
}
section#facts.container div.row {
    margin-top: 90px;
}
.feature-card {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.feature-card img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 30px;
}
.overlay-text {
    position: absolute;
    z-index: 10;
    left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    bottom: 20px;
    color:white;
    text-shadow: 0 4px 10px rgba(0, 0 ,0, 0.8);
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}
.overlay-text.section h3 {
    margin-bottom: -20px;
}
section div.overlay-text.section p, section div.overlay-text.section a {
    margin: 20px 0 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3 ease;
    line-height: 1.3rem;
}
.feature-card:hover .overlay-text h3 {
    transform: translateY(-90px);
}
.feature-card:hover .overlay-text p, .feature-card:hover .overlay-text a {
    transform: translateY(0);
    opacity: 1;
    background: linear-gradient(to top rgba(220, 220, 220, 0.4));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.839),0 0 20px rgba(225, 225, 225, 0.6), 0 0 30px rgba(225, 225, 225, 0.4);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 2s;
    transition-delay: 0;
}
#more h3, p { 
    padding-bottom: 20px;
}
/* footer */
.page-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 85px;
}
#footer {
    border-top: solid grey 2px ;
    
    padding-bottom: 40px;
    padding-top: 40px;
}
footer ul  {
    list-style : none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-left: 0;
    padding-left: 0;
}
/*header h1 animation*/
@keyframes fade {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 220px;
        text-shadow: 2px 5px 8px black;
    }
}
/*discover animation*/
/* @keyframes select {
    0% {
        background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    }
    50% {
        background: linear-gradient(to top, rgba(70, 70, 70, 0.6), transparent);
    }
    100% {
        background: linear-gradient(to top, rgba(250, 250, 250, 0.6), transparent);
    }
} */
@media screen and (max-width: 1540px) { 
    #pages div li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 1440px) {
    #logo {
        font-size: 16px;
        
    }
    #pages div li a {
        font-size: 14px;
    }
    #title h1{
        font-size: 200px;
    }
    #title p{
        font-size: 23px;
    }
    #title a{
        font-size: 23px;
    }
    #scenes h3 {
        font-size: 32px;
    }
    #scenes.div.overlay-text.section {
        padding-right: 10px;
    }
}
@media screen and (max-width: 1310px) {
    #logo {
        font-size: 0px;
        
    }
    #pages div li a {
        font-size: 13px;
    }
    #title h1{
        font-size: 200px;
    }
    #title p{
        font-size: 23px;
    }
    #title a{
        font-size: 23px;
    }
    #scenes h3 {
        font-size: 32px;
    }
    #scenes.div.overlay-text.section {
        padding-right: 10px;
    }
}
@media screen and (max-width: 1115px) {
    #pages div li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 999px) {
    #title h1{
        font-size: 180px;
        text-align: center;
        padding-left: 50px;
    }
    #title p{
        font-size: 20px;
        text-align: center;
    }
    #title a{
        font-size: 20px;
        text-align: center;
    }
    #scenes h3 {
        font-size: 42px;
    }

}
@media screen and (max-width: 800px) {
    #title h1{
        font-size: 130px;
        text-align: center;
        padding-left: 40px;
    }
    #title p{
        font-size: 15px;
        text-align: center;
    }
    #title a{
        font-size: 15px;
        display: inline-block;
        text-align: center;
        margin-left: 100px;
    }
    #scenes h3 {
        font-size: 42px;
    }
}





