header {
    height: 600px;
    margin-bottom: 30px;
    padding-top: 64px;
    position: relative; 
}
body {
    height: 5000px;
}
#header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
header nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header nav a {
    text-shadow: 2px 3px 8px rgb(253, 253, 253);
}
header nav.nav-wrapper {
    background-color: transparent;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0;
    margin-bottom: 50px;
}
#logo {
    transition-duration: 0.3s;
}
header nav.nav-wrapper:hover #logo{
    color: rgb(56, 235, 24);
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white;
}
header nav.nav-wrapper:hover {
    background: rgba(220, 220, 220, 0.4);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.881),0 0 20px rgba(225, 225, 225, 0.727), 0 0 30px rgba(225, 225, 225, 0.533);
}
#main-text p, h1 {
    color: white;
}
#main-text h1 {
    padding-top: 10px;
    margin-top: 10px;
    font-size: 100px;
    text-shadow: 0 0 10px rgba(7, 7, 7, 0.881), 0 0 20px rgba(1, 1, 1, 0.727), 0 0 30px rgba(0, 0, 0, 0.533);
}
#main-text p {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: 2px 3px 8px rgb(1, 1, 1);
}
#main-text p.flow-text {
    margin-top: 0px;
}
.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(47, 62, 70, 0.2),  
    rgba(58, 90, 64, 0.5)    
  );
}
div.row img {
    height: 800px;
    border-radius: 20px;
}
#mountains {
    background: white;
    padding: 80px 0;
}
#mountains h3 {
    border-bottom: solid black 2px;
}
#section-title {
    padding-bottom: 80px;
    margin-bottom: 30px;
}

#mountain-info h2 {
    padding-bottom: 40px;
    padding-bottom: 30px;
}
#mountain-info p {
    border-left: solid black 2px;
}
#trivia-img {
    width: 210px; height: 210px;
}
#mountain-info {
    padding-right: 55px;  
}
#mountains-info2 {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    border-bottom: solid black 2px;
}
#mountain-info a {
    padding: 5px 50px 5px 50px;
    font-size: 30px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.925);
}
#mountains-info {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    border-bottom: solid black 2px;
}
#mountain-info2 {
    padding-left: 55px;
}
#mountain-info2 h2 {
    padding-bottom: 40px;
    padding-bottom: 30px;
}
#mountain-info2 p {
    border-left: solid black 2px;
}
#mountain-info2 a {
    padding: 5px 50px 5px 50px;
    font-size: 30px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.925);
}
@media  screen and (max-width: 992px) {
    #trivia-img1 {
        margin-top: 60px;
    }
}
    

#quote {
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
}

/* valleys */

#valleys {
    padding-bottom: 45px;
    margin: 0 60px 45px 60px;
    border-bottom: solid black 2px;
}
#valleys h3 {
    margin-bottom: 60px;
}
#valley-row {
    border: solid grey 1px;
    border-radius: 40px;
    margin: 0 60px;
    padding: 30px;
}
#valleys #third-row {
    min-height: 0px;
    max-height: 800px;

}
#first-row-baby img{
    height: 400px;
    width: 100%;
    border-radius: 60px;
}
#first-row-baby #card-inside-row {
    border-radius: 40px;
}
#first-row-baby #card-inside-row div.card img{
    height: 260px;
    width: 100%;
    padding: 30px 20px 10px 20px;
    border-radius: 60px;
}
#first-row-baby #card-inside-row img{
    height: 280px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 60px;
}
#first-row-baby #card-inside-row h4{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 2px;
    margin-top: 3px;
}
#first-row-baby #card-inside-row .card-content{
    padding-bottom: 53px;
    padding-top: 25px;
}
#first-row-baby #card-inside-row a{
    padding-left: 7px;
    font-size: 20px ;
    
}
#second-row-baby img{
    height: 400px;
    width: 100%;
    border-radius: 40px;
}
#super-baby-row img {
    width: 100%;
}
#valley-circle {
    width: 150px; height: 150px;
}
#title-intro h4 {
    padding-top: 30px;
}

/* Desserts */

#desserts {
    border-bottom: solid black 2px;
    padding: 0 60px;
    padding-bottom: 45px;
    margin: 0 60px 45px 60px;
}
#desserts-title {
    margin-bottom: 30px;
    margin-top: 80px;
    padding-bottom: 50px;
    border-bottom: solid grey 1px;
}
#desserts #desserts-div #row-img1 {
    height: 800px;
}
#desserts #desserts-div #row-img2 {
    height: 800px;
}
#desserts #desserts-div #row-content {
   margin-top: 70px;
   padding: 0 20px;
}
#desserts #desserts-div #row-content h3 {
   font-size: 67px;
   padding-bottom: 25px;
   border-bottom: solid black 2px;
   margin-bottom: 30px;
}
#desserts #desserts-div #row-content p {
    padding-top: 30px;
    font-size: 23px;
}
#baby-row-img img {
    height: 100%;
    width: 100%;
}
#desserts-baby-row {
    margin-top: 70px;
    border-top: solid grey 1px;
    padding-top: 50px;
}


/*Plains same as valleys but a bit different hehe*/

#plains {
    padding-bottom: 45px;
    margin: 0 60px 45px 60px;
}
#plains-title {
    margin-bottom: 30px;
    margin-top: 80px;
    padding-bottom: 50px;
    border-bottom: solid grey 1px;
}
#plains h3 {
    margin-bottom: 60px;
}
#plains-row {
    border: solid grey 1px;
    border-radius: 40px;
    margin: 0 60px;
    padding: 30px;
}
#plains #col3 {
    min-height: 0px;
    max-height: 800px;
}
#first-row-baby img{
    height: 400px;
    width: 100%;
    border-radius: 40px;
}
#first-row-baby #card-inside-row {
    border-radius: 40px;
}
#first-row-baby #card-inside-row div.card img{
    height: 260px;
    width: 100%;
    padding: 30px 20px 10px 20px;
    border-radius: 60px;
}
#first-row-baby #card-inside-row img{
    height: 280px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 60px;
}
#first-row-baby #card-inside-row h4{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 2px;
    margin-top: 3px;
}
#first-row-baby #card-inside-row .card-content{
    padding-bottom: 53px;
    padding-top: 25px;
}
#first-row-baby #card-inside-row a{
    padding-left: 7px;
    font-size: 20px ;
    
}
#second-row-baby img{
    height: 400px;
    width: 100%;
    border-radius: 40px;
}
#super-baby-row img {
    width: 100%;
}
#plains-circle {
    width: 150px; height: 150px;
}
#title-intro h4 {
    padding-top: 30px;
}

/* footer */

.page-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 85px;
}
#footer {
    border-top: solid grey 2px ;
    
    padding-bottom: 40px;
    padding-top: 40px;
}
footer ul  {
    list-style : none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-left: 0;
    padding-left: 0;
}
/*header h1 animation*/
@media screen and (max-width: 1540px) { 
    #pages div li a {
        font-size: 14px;
    }
}

/* responsive */







@media screen and (min-width: 1200px) and (max-width: 1920px) {
    #pages div li a {
        font-size: 14px;
    }

    #main-text h1 {
        font-size: 100px;
        
    }
    #main-text p {
        font-size: 30px;
        margin-top: 100px;
    }
    div.row img {
        height: 800px;
    }
    #trivia-img {
        width: 210px;
        height: 210px;
    }
    #valley-circle, #plains-circle {
        width: 150px;
        height: 150px;
    }
    #row-content h3 {
        font-size: 67px;
    }
    #row-content p {
        font-size: 23px;
    }
    #first-row-baby img, #second-row-baby img {
        height: 400px;
    }
    #desserts #row-img1, #desserts #row-img2 {
        height: 800px;
    }
    #mountain-info a, #mountain-info2 a {
        font-size: 30px;
        padding: 5px 50px;
    }
    header {
        height: 600px;
    }
}

@media screen and (max-width: 1440px) {
    #logo {
        font-size: 16px;
        
    }
    #pages div li a {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 1310px) {
    #logo {
        font-size: 0px;
        
    }
    #pages div li a {
        font-size: 13px;
    }
}
@media screen and (max-width: 1115px) {
    #pages div li a {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
    header {
        height: 500px;
    }
    #main-text h1 {
        font-size: 80px;
    }
    #main-text p {
        font-size: 25px;
        margin-top: 80px;
    }
    div.row img {
        height: 600px;
    }
    #mountains {
        padding: 60px 0;
    }
    #section-title {
        padding-bottom: 60px;
    }
    #mountain-info, #mountain-info2 {
        padding-right: 30px;
        padding-left: 30px;
    }
    #trivia-img {
        width: 180px;
        height: 180px;
    }
    #mountain-info a, #mountain-info2 a {
        font-size: 25px;
        padding: 5px 40px;
    }
    #valleys, #desserts, #plains {
        margin: 0 30px 45px 30px;
        padding: 0 30px;
    }
    #valley-row, #plains-row {
        margin: 0 30px;
        padding: 20px;
    }
    #first-row-baby img, #second-row-baby img {
        height: 300px;
    }
    #valley-circle, #plains-circle {
        width: 120px;
        height: 120px;
    }
    #title-intro h4 {
        font-size: 20px;
        padding-top: 20px;
    }
    #desserts #row-img1, #desserts #row-img2 {
        height: 600px;
    }
    #row-content h3 {
        font-size: 50px;
    }
    #row-content p {
        font-size: 20px;
    }
    #desserts-baby-row {
        margin-top: 50px;
        padding-top: 30px;
    }
    #baby-row-img img {
        height: 80px;
        width: 80px;
    }
    #plains-title, #valley-title, #desserts-title {
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    #plains h3, #valleys h3, #desserts h3 {
        margin-bottom: 40px;
    }
    .page-footer {
        padding-top: 60px;
    }
    #footer {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 400px;
    }
    #main-text h1 {
        font-size: 50px;
    }
    #main-text p {
        font-size: 18px;
        margin-top: 50px;
    }
    div.row img {
        height: 400px;
    }
    #mountains {
        padding: 40px 0;
    }
    #section-title {
        padding-bottom: 40px;
    }
    #mountain-info, #mountain-info2 {
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }
    #trivia-img {
        width: 150px;
        height: 150px;
    }
    #mountain-info a, #mountain-info2 a {
        font-size: 20px;
        padding: 5px 30px;
    }
    #valleys, #desserts, #plains {
        margin: 0 15px 30px 15px;
        padding: 0 15px;
    }
    #valley-row, #plains-row {
        margin: 0 15px;
        padding: 15px;
    }
    #first-row-baby img, #second-row-baby img {
        height: 250px;
    }
    #valley-circle, #plains-circle {
        width: 100px;
        height: 100px;
    }
    #title-intro h4 {
        font-size: 18px;
        padding-top: 15px;
    }
    #desserts #row-img1, #desserts #row-img2 {
        height: 400px;
    }
    #row-content h3 {
        font-size: 35px;
    }
    #row-content p {
        font-size: 16px;
    }
    #desserts-baby-row {
        margin-top: 30px;
        padding-top: 20px;
    }
    #baby-row-img img {
        height: 60px;
        width: 60px;
    }
    #plains-title, #valley-title, #desserts-title {
        margin-bottom: 15px;
        padding-bottom: 20px;
    }
    #plains h3, #valleys h3, #desserts h3 {
        margin-bottom: 30px;
    }
    .page-footer {
        padding-top: 40px;
    }
    #footer {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #mountain-info h2, #mountain-info2 h2 {
        padding-bottom: 20px;
    }
    #quote {
        font-size: 14px;
    }
}

